* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: white;
}

.header .logo img{
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: flex-end; 
    margin: 0;
    padding: 0; 
}
.nav-links a {
    margin-left: 20px;
    color: black;
    font-weight: bold;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding: 1rem 2rem; 
}


.nav li {
    margin-left: 2rem;
}


body{
    margin: 0;
}

#colorStage{
    height: 400px;
}

#quokkaImage{
    width: 80%;
}

.thumbnails{
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.thumbnails li{
    padding: 8px;
}

.current-thumb{
    background-color: yellow;
}

#showcaseImage{
    width: 80%;
    max-width: 800px;
    display: block;
    margin: 10px auto;
    height: auto;
}

.imgShowcase{
    text-align: center;
    padding: 8px;
    position: relative;
}

.showcase-arrow{
    width: 120px;
    height: 170px;
    position: absolute;
    top: 50%;
    background-color: transparent;
    padding: 8px;
    margin: -50px 8px 0 8px;
}

.showcase-arrow-left{
    left: 0;
}

.showcase-arrow-right{
    right: 0;
}